/* reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* utilities */
.container{

    width:80%;
    margin:0 auto;    
}

.flex{
    display: flex;
}
header{
    /*height:500px;debug*/
    background-color: red;
}




.header-top{
    background-color: rgba(173, 216, 230, 100%);
}

.container.top{
    background-color: rgba(218,165,32, 100%);
    min-height: 150px;
}
/* header-bottom */


.header-bottom{
    background-color: rgba(0, 0, 139, 100%);
    
}

.contenitore{
    width:65%;
    margin:0 auto;
    height:300px;
    background-color: rgba(238, 130, 238, 100%);
}

/* righe del main */
.row{
    height:400px;/* debug*/
    
}

/* prima riga del main */
.row.first{
    background-color: coral;/* debug prima riga del main*/
}
.row .container{
    height:300px;/*debug*/
    background-color: yellow;/*debug */

}

.container .contenuto-azzurro{
    width:55%;    
    height:300px;
    background-color: rgba(30,144, 255, 100%);
}
.contenuto-rosa{
    width:45%;
    height: 300px;
    background-color: rgba(255, 192, 203, 100%);
}
/* fine prima riga main */