/* reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* utilities */
.container{
    width:75%;
   margin:0 auto; 
}

.center{
    align-items: center;
    
}
.flexbox{
    display:flex;
   
}

.orizzontale{
    justify-content: center;
}

.dashed{
    border:2px dashed black;
}



/*-fine utilies*/


/* header-top */

.header-top{
    height:50px;
    
    background-color: rgba(127,255,212,100%);
}
.header-top .container{
    /*height:150px;*/
    background-color: rgba(218, 165, 32, 100%);
    justify-content: space-between;    
    padding:0.5rem 0.3rem;   
}
.header-top .container span, .header-top .container button{
    width:25%;
}

.header-top .container nav{
    width:50%;
    border-left: 2px dashed black;
    border-right: 2px dashed black;

}

.header-top nav ul{
    list-style-type: none;
    justify-content: center;; 
   
}


nav ul li a{
    text-decoration: none;
    color: black;
    padding-left: 0.5em;
}
.header-top .container button{
    background-color: rgba(218, 165, 32, 100%);
}
/* fine header top */


/* header-bottom */
.header-bottom{
    min-height:400px;
    background-color: rgba(0,0,139, 100%);
}

.header-bottom .contenitore{
    min-height: 350px;
    width:65%;
    margin:0 auto;
    background-color: rgba(238, 130,238, 100%);
}

/* comuni a main */
.left{
    width:60%;
    min-height: 400px;
    background-color: rgba(30, 144, 255, 100%);
}
.right{
    width:40%;
    min-height:400px;
    background-color: rgba(255, 192,203, 100%);
}
/* fine-header-top */
.content{
    border: 2px solid black;
}
.riga.container{
    
    min-height: 500px;

}
main .content:nth-child(even){
    background-color: rgba(211, 211, 211, 100%);
}


section.content:nth-child(4){
    height:550px;

}
.content .riga.sfondo-verde{
    background-color: rgba(34,139,34,100%);
    height:500px;
}
/* footer-top */
footer{
    background-color: rgba(35,39,42,100%);
}
.footer-top{
    min-height:400px;
    
    padding-top:5px;
    padding-bottom:15px;
   border-bottom: 2px solid white;
}

.container.row{
    min-height:350px;
    background-color: aqua;

}
.row .column:not(.first){
    width:calc(100% / 6);
    background-color: rgba(32,178,170,100%);
    border-color: white;
}
.column.first{
    width:calc(100% / 3);
    background-color: rgba(240,128,128, 100%);
}
/* footer-bottom */
.footer-bottom{
    height:100px;
     
    align-items: flex-end;
}

.footer-bottom .container{
    height:70px;
    justify-content:space-between;
    background-color: rgba(127, 255,212, 100%);
}
.footer-bottom .container span{
    background-color: rgba(240,128,128, 100%);;
    padding: 0.5em;
}